.hero-section {
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  color: white;
}

a{
  text-decoration: none;
}



@media screen and (max-width: 991px) {
  .img-container, .hero-logo {
    display: none;
  }
  
  .hero-text-content .d-sm-flex {
    justify-content: center !important;
  }
}

.hero-text-content {
  text-align: left;
  height: fit-content;
  /* width: fit-content; */
}

.hero-logo {
  width: 150px;
  margin-bottom: 20px;
}
