div.hero-section {
  padding: 100px 0;
  background-color: #1E8E3E;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(rgba(255, 255, 255, 0.05) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.05) 2px, transparent 2px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.hero-text-content {
  text-align: left;
  height: fit-content;
  color: white;
}

/* .hero-text-content h1,
.hero-text-content p {
  color: white;
} */

.hero-logo {
  width: 200px;
  margin-bottom: 20px;
}

.hero-row > .col-lg-6:first-child {
  padding-right: 0;
}

.hero-row > .col-lg-6:last-child {
  padding-left: 0;
}



@media screen and (max-width: 991px) {
  .hero-logo {
    display: none;
  }
  
  .hero-text-content .d-sm-flex {
    justify-content: center !important;
  }

  .hero-image-container {
    transform: rotate(0deg) !important; /* Ensure upright position */
    -webkit-mask-image: linear-gradient(to top, transparent 1%, black 10%); /* Keep masking */
    mask-image: linear-gradient(to top, transparent 1%, black 10%); /* Keep masking */
    width: 250px; /* Further adjusted width for mobile */
    height: 350px; /* Further adjusted height for mobile */
    position: relative; /* Keep relative positioning */
    left: auto; /* Remove fixed left offset */
    margin: 0 auto 20px; /* Center the image */
    display: block; /* Ensure margin: auto works */
  }

  .hero-image {
    transform: rotate(0deg) !important; /* Ensure upright position */
  }

  .hero-text-content h1,
  .hero-text-content p {
    text-align: center !important; /* Centralize texts */
  }
}
